.search-form-top {
	float: left;
	margin-left: 0px;
}

.search-form-top .search-form-top-items-1 {
	float: left;
	margin: 0 0 10px 0;
}

.search-form-top .search-form-top-items-2 {
	float: left;
	margin: 0 60px;
}